USE [master]
GO
/****** Object:  Database [QuanLyBanVeMayBay]    Script Date: 05/06/2023 6:30:40 PM ******/
CREATE DATABASE [QuanLyBanVeMayBay]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanVeMayBay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanVeMayBay]
GO
/****** Object:  Table [BANGTHAMSO]    Script Date: 05/06/2023 6:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BANGTHAMSO](
	[TenThamSo] [text] NOT NULL,
	[GiaTri] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CHUYENBAY]    Script Date: 05/06/2023 6:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CHUYENBAY](
	[MaChuyenBay] [varchar](10) NOT NULL,
	[SanBayDi] [nvarchar](50) NOT NULL,
	[SanBayDen] [nvarchar](50) NOT NULL,
	[NgayKhoiHanh] [nvarchar](50) NOT NULL,
	[ThoiGianXuatPhat] [nvarchar](50) NOT NULL,
	[ThoiGianDuKien] [nvarchar](50) NOT NULL,
	[MaHangMayBay] [varchar](10) NOT NULL,
	[LoaiMayBay] [varchar](50) NOT NULL,
	[Gia] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuyenBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CTHD]    Script Date: 05/06/2023 6:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CTHD](
	[MaCTHD] [varchar](10) NOT NULL,
	[MaHD] [varchar](10) NOT NULL,
	[MaVe] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HANGMAYBAY]    Script Date: 05/06/2023 6:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HANGMAYBAY](
	[MaHang] [varchar](10) NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
	[Logo] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HANGVE]    Script Date: 05/06/2023 6:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HANGVE](
	[MaHangVe] [varchar](10) NOT NULL,
	[TenHangVe] [nvarchar](50) NOT NULL,
	[TyLe] [varchar](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHangVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HOADON]    Script Date: 05/06/2023 6:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HOADON](
	[MaHD] [varchar](10) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[ThanhTien] [int] NULL,
	[TinhTrang] [varchar](30) NULL,
	[MaTK] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [QuanLyHangVeChuyenBay]    Script Date: 05/06/2023 6:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QuanLyHangVeChuyenBay](
	[MaChuyenBay] [varchar](10) NOT NULL,
	[MaHangVe] [varchar](10) NOT NULL,
	[SoLuong] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuyenBay] ASC,
	[MaHangVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SANBAY]    Script Date: 05/06/2023 6:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SANBAY](
	[MaSanBay] [varchar](10) NOT NULL,
	[TenSanBay] [nvarchar](50) NOT NULL,
	[Tinh] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SANBAYTRUNGGIAN]    Script Date: 05/06/2023 6:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SANBAYTRUNGGIAN](
	[SanBayTrungGian] [nvarchar](50) NOT NULL,
	[MaChuyenBay] [varchar](10) NOT NULL,
	[ThoiGianDung] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TAIKHOAN]    Script Date: 05/06/2023 6:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAIKHOAN](
	[MaTK] [varchar](20) NOT NULL,
	[TenDangNhap] [varchar](100) NOT NULL,
	[MatKhau] [varchar](10) NOT NULL,
	[Loai] [int] NOT NULL,
	[Email] [varchar](50) NULL,
	[TenHienThi] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VE]    Script Date: 05/06/2023 6:30:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VE](
	[MaVe] [varchar](20) NOT NULL,
	[MaChuyenBay] [varchar](10) NOT NULL,
	[SoGhe] [varchar](10) NOT NULL,
	[MaHK] [varchar](10) NULL,
	[TenHK] [nvarchar](100) NULL,
	[SDT] [varchar](11) NULL,
	[CMND] [varchar](9) NULL,
	[TinhTrang] [nvarchar](20) NOT NULL,
	[MaHangVe] [varchar](10) NOT NULL,
	[GiaVe] int null,
PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [BANGTHAMSO] ([TenThamSo], [GiaTri]) VALUES (N'ThoiGianBayToiThieu', 30)
INSERT [BANGTHAMSO] ([TenThamSo], [GiaTri]) VALUES (N'SoSanBayTrungGianToiDa', 2)
INSERT [BANGTHAMSO] ([TenThamSo], [GiaTri]) VALUES (N'ThoiGianDungToiThieu', 10)
GO
INSERT [CHUYENBAY] ([MaChuyenBay], [SanBayDi], [SanBayDen], [NgayKhoiHanh], [ThoiGianXuatPhat], [ThoiGianDuKien], [MaHangMayBay], [LoaiMayBay], [Gia]) VALUES (N'QH001', N'SGN', N'HAN', N'02/08/2023', N'23:40', N'130', N'QH', N'BOEING', N'1800000')
INSERT [CHUYENBAY] ([MaChuyenBay], [SanBayDi], [SanBayDen], [NgayKhoiHanh], [ThoiGianXuatPhat], [ThoiGianDuKien], [MaHangMayBay], [LoaiMayBay], [Gia]) VALUES (N'QH002', N'SGN', N'HUI', N'02/08/2023', N'19:10', N'95', N'QH', N'BOEING', N'1200000')
INSERT [CHUYENBAY] ([MaChuyenBay], [SanBayDi], [SanBayDen], [NgayKhoiHanh], [ThoiGianXuatPhat], [ThoiGianDuKien], [MaHangMayBay], [LoaiMayBay], [Gia]) VALUES (N'QH003', N'HAN', N'VDO', N'02/07/2023', N'12:45', N'485', N'QH', N'BOEING', N'3800000')
GO
INSERT [HANGMAYBAY] ([MaHang], [TenHang], [Logo]) VALUES (N'BL', N'Jetstar Pacific Airlines', N'/Images/logo_Jetstar.png')
INSERT [HANGMAYBAY] ([MaHang], [TenHang], [Logo]) VALUES (N'QH', N'Bamboo Airways', N'/Images/logo_Bamboo.png')
INSERT [HANGMAYBAY] ([MaHang], [TenHang], [Logo]) VALUES (N'VJ', N'Vietjet Air', N'/Images/logo_Vietjet.png')
GO
INSERT [HANGVE] ([MaHangVe], [TenHangVe], [TyLe]) VALUES (N'HV229365', N'Hạng 2', N'100')
INSERT [HANGVE] ([MaHangVe], [TenHangVe], [TyLe]) VALUES (N'HV643717', N'Hạng 1', N'105')
GO
INSERT [QuanLyHangVeChuyenBay] ([MaChuyenBay], [MaHangVe], [SoLuong]) VALUES (N'QH001', N'HV229365', N'12')
INSERT [QuanLyHangVeChuyenBay] ([MaChuyenBay], [MaHangVe], [SoLuong]) VALUES (N'QH001', N'HV643717', N'18')
INSERT [QuanLyHangVeChuyenBay] ([MaChuyenBay], [MaHangVe], [SoLuong]) VALUES (N'QH002', N'HV229365', N'12')
GO
INSERT [SANBAY] ([MaSanBay], [TenSanBay], [Tinh]) VALUES (N'CXR', N'San bay Quoc te Cam Ranh', N'Khanh Hoa')
INSERT [SANBAY] ([MaSanBay], [TenSanBay], [Tinh]) VALUES (N'DAD', N'San bay Quoc te Da Nang', N'Da Nang')
INSERT [SANBAY] ([MaSanBay], [TenSanBay], [Tinh]) VALUES (N'HAN', N'San bay Quoc te Noi Bai', N'Ha Noi')
GO
INSERT [SANBAYTRUNGGIAN] ([SanBayTrungGian], [MaChuyenBay], [ThoiGianDung], [GhiChu]) VALUES (N'SGN', N'VJ003', N'570', N'KHONG CO')
INSERT [SANBAYTRUNGGIAN] ([SanBayTrungGian], [MaChuyenBay], [ThoiGianDung], [GhiChu]) VALUES (N'SGN', N'QH003', N'220', N'KHONG CO')
GO
INSERT [TAIKHOAN] ([MaTK], [TenDangNhap], [MatKhau], [Loai], [Email], [TenHienThi]) VALUES (N'U000000', N'admin', N'123', 1, N'cattuong510@gmail.com', N'Admin')
INSERT [TAIKHOAN] ([MaTK], [TenDangNhap], [MatKhau], [Loai], [Email], [TenHienThi]) VALUES (N'U110400', N'nv1', N'123', 2, N'nhanvien1@gmail.com', N'Nhân viên 1')
INSERT [TAIKHOAN] ([MaTK], [TenDangNhap], [MatKhau], [Loai], [Email], [TenHienThi]) VALUES (N'U521952', N'abc', N'123', 3, N'abc@gmail.com', N'ahihi')
GO
INSERT [VE] ([MaVe], [MaChuyenBay], [SoGhe], [MaHK], [TenHK], [SDT], [CMND], [TinhTrang], [MaHangVe], [GiaVe]) VALUES (N'1', N'VJ001', N'1', NULL, NULL, NULL, NULL, N'TRONG', N'HV229365', 1600000)
INSERT [VE] ([MaVe], [MaChuyenBay], [SoGhe], [MaHK], [TenHK], [SDT], [CMND], [TinhTrang], [MaHangVe], [GiaVe]) VALUES (N'10', N'VJ001', N'10', NULL, NULL, NULL, NULL, N'TRONG', N'HV229365',1600000)
INSERT [VE] ([MaVe], [MaChuyenBay], [SoGhe], [MaHK], [TenHK], [SDT], [CMND], [TinhTrang], [MaHangVe], [GiaVe]) VALUES (N'100', N'VN004', N'4', NULL, NULL, NULL, NULL, N'TRONG', N'HV229365',1200000)



GO
ALTER TABLE [CHUYENBAY]  WITH CHECK ADD FOREIGN KEY([MaHangMayBay])
REFERENCES [HANGMAYBAY] ([MaHang])
GO
ALTER TABLE [CHUYENBAY]  WITH CHECK ADD FOREIGN KEY([MaHangMayBay])
REFERENCES [HANGMAYBAY] ([MaHang])
GO
ALTER TABLE [CTHD]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [HOADON] ([MaHD])
GO
ALTER TABLE [CTHD]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [HOADON] ([MaHD])
GO
ALTER TABLE [CTHD]  WITH CHECK ADD FOREIGN KEY([MaVe])
REFERENCES [VE] ([MaVe])
GO
ALTER TABLE [CTHD]  WITH CHECK ADD FOREIGN KEY([MaVe])
REFERENCES [VE] ([MaVe])
GO
ALTER TABLE [HOADON]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [TAIKHOAN] ([MaTK])
GO
ALTER TABLE [HOADON]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [TAIKHOAN] ([MaTK])
GO
ALTER TABLE [QuanLyHangVeChuyenBay]  WITH CHECK ADD FOREIGN KEY([MaChuyenBay])
REFERENCES [CHUYENBAY] ([MaChuyenBay])
GO
ALTER TABLE [QuanLyHangVeChuyenBay]  WITH CHECK ADD FOREIGN KEY([MaChuyenBay])
REFERENCES [CHUYENBAY] ([MaChuyenBay])
GO
ALTER TABLE [QuanLyHangVeChuyenBay]  WITH CHECK ADD FOREIGN KEY([MaHangVe])
REFERENCES [HANGVE] ([MaHangVe])
GO
ALTER TABLE [QuanLyHangVeChuyenBay]  WITH CHECK ADD FOREIGN KEY([MaHangVe])
REFERENCES [HANGVE] ([MaHangVe])
GO
ALTER TABLE [SANBAYTRUNGGIAN]  WITH CHECK ADD FOREIGN KEY([MaChuyenBay])
REFERENCES [CHUYENBAY] ([MaChuyenBay])
GO
ALTER TABLE [SANBAYTRUNGGIAN]  WITH CHECK ADD FOREIGN KEY([MaChuyenBay])
REFERENCES [CHUYENBAY] ([MaChuyenBay])
GO
ALTER TABLE [VE]  WITH CHECK ADD FOREIGN KEY([MaChuyenBay])
REFERENCES [CHUYENBAY] ([MaChuyenBay])
GO
ALTER TABLE [VE]  WITH CHECK ADD FOREIGN KEY([MaChuyenBay])
REFERENCES [CHUYENBAY] ([MaChuyenBay])
GO
ALTER TABLE [VE]  WITH CHECK ADD FOREIGN KEY([MaHangVe])
REFERENCES [HANGVE] ([MaHangVe])
GO
ALTER TABLE [VE]  WITH CHECK ADD FOREIGN KEY([MaHangVe])
REFERENCES [HANGVE] ([MaHangVe])
GO
USE [master]
GO
