USE [master]
GO
/****** Object:  Database [QuanLyBanVeMayBay]    Script Date: 02/05/2023 8:24:45 PM ******/
CREATE DATABASE [QuanLyBanVeMayBay]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanVeMayBay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanVeMayBay]
GO
/****** Object:  Table [CHUYENBAY]    Script Date: 02/05/2023 8:24:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CHUYENBAY](
	[MaChuyenBay] [varchar](10) NOT NULL,
	[MaChuyenBayGoc] [varchar](10) NULL,
	[MaMayBay] [varchar](10) NOT NULL,
	[SanBayDi] [varchar](10) NOT NULL,
	[SanBayDen] [varchar](10) NOT NULL,
	[NgayKhoiHanh] [date] NOT NULL,
	[ThoiGianXuatPhat] [text] NOT NULL,
	[ThoiGianDuKien] [text] NOT NULL,
	[SoGheTrong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuyenBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CUNGCAPDICHVU]    Script Date: 02/05/2023 8:24:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUNGCAPDICHVU](
	[MaChuyenBay] [varchar](10) NOT NULL,
	[MaDichVu] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuyenBay] ASC,
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DICHVU]    Script Date: 02/05/2023 8:24:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DICHVU](
	[MaDichVu] [varchar](10) NOT NULL,
	[TenDichVu] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [GIAVE]    Script Date: 02/05/2023 8:24:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GIAVE](
	[MaChuyenBay] [varchar](10) NOT NULL,
	[MaLoaiVe] [varchar](10) NOT NULL,
	[DoiTuong] [nvarchar](20) NOT NULL,
	[Gia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuyenBay] ASC,
	[MaLoaiVe] ASC,
	[DoiTuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HANGMAYBAY]    Script Date: 02/05/2023 8:24:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HANGMAYBAY](
	[MaHang] [varchar](10) NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HANHKHACH]    Script Date: 02/05/2023 8:24:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HANHKHACH](
	[MaHK] [varchar](10) NOT NULL,
	[TenHK] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](11) NOT NULL,
	[CCCD] [varchar](13) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HOADON]    Script Date: 02/05/2023 8:24:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HOADON](
	[MaHD] [varchar](10) NOT NULL,
	[MaTKThanhToan] [varchar](15) NOT NULL,
	[MaVe] [varchar](10) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[ThanhTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [LOAIHOANTIEN]    Script Date: 02/05/2023 8:24:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOAIHOANTIEN](
	[MaLoaiHoanTien] [varchar](10) NOT NULL,
	[TenLoaiHoanTien] [nvarchar](100) NOT NULL,
	[TyLeHoan] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiHoanTien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [LOAIVE]    Script Date: 02/05/2023 8:24:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOAIVE](
	[MaLoaiVe] [varchar](10) NOT NULL,
	[TenLoaiVe] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MAYBAY]    Script Date: 02/05/2023 8:24:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAYBAY](
	[MaMayBay] [varchar](10) NOT NULL,
	[MaHang] [varchar](10) NOT NULL,
	[LoaiMayBay] [varchar](50) NOT NULL,
	[TongSoGhe] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMayBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SANBAY]    Script Date: 02/05/2023 8:24:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SANBAY](
	[MaSanBay] [varchar](10) NOT NULL,
	[TenSanBay] [nvarchar](50) NOT NULL,
	[Tinh] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TAIKHOANTHANHTOAN]    Script Date: 02/05/2023 8:24:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAIKHOANTHANHTOAN](
	[MaTKThanhToan] [varchar](15) NOT NULL,
	[TenTKThanhToan] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTKThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VE]    Script Date: 02/05/2023 8:24:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VE](
	[MaVe] [varchar](10) NOT NULL,
	[MaChuyenBay] [varchar](10) NOT NULL,
	[MaLoaiVe] [varchar](10) NOT NULL,
	[LoaiVe] [varchar](10) NOT NULL,
	[SoGhe] [varchar](10) NOT NULL,
	[MaHK] [varchar](10) NOT NULL,
	[TinhTrang] [nvarchar](20) NOT NULL,
	[MaLoaiHoanTien] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [CHUYENBAY] ([MaChuyenBay], [MaChuyenBayGoc], [MaMayBay], [SanBayDi], [SanBayDen], [NgayKhoiHanh], [ThoiGianXuatPhat], [ThoiGianDuKien], [SoGheTrong]) VALUES (N'VJ001', N'VJ001', N'VJF001', N'HAN', N'SGN', CAST(N'2023-05-03' AS Date), N'10:15', N'02:00', 30)
INSERT [CHUYENBAY] ([MaChuyenBay], [MaChuyenBayGoc], [MaMayBay], [SanBayDi], [SanBayDen], [NgayKhoiHanh], [ThoiGianXuatPhat], [ThoiGianDuKien], [SoGheTrong]) VALUES (N'VNA001', N'VNA001', N'VNAF001', N'HAN', N'SGN', CAST(N'2023-05-02' AS Date), N'09:30', N'01:30', 20)
GO
INSERT [GIAVE] ([MaChuyenBay], [MaLoaiVe], [DoiTuong], [Gia]) VALUES (N'VJ001', N'BC', N'Nguoi lon', 900000)
INSERT [GIAVE] ([MaChuyenBay], [MaLoaiVe], [DoiTuong], [Gia]) VALUES (N'VJ001', N'BC', N'Tre em', 1000000)
INSERT [GIAVE] ([MaChuyenBay], [MaLoaiVe], [DoiTuong], [Gia]) VALUES (N'VJ001', N'BC', N'Tre so sinh', 100000)
GO
INSERT [HANGMAYBAY] ([MaHang], [TenHang]) VALUES (N'BL', N'Jetstar Pacific Airlines')
INSERT [HANGMAYBAY] ([MaHang], [TenHang]) VALUES (N'QH', N'Bamboo Airways')
INSERT [HANGMAYBAY] ([MaHang], [TenHang]) VALUES (N'VJ', N'Vietjet Air')
GO
INSERT [LOAIVE] ([MaLoaiVe], [TenLoaiVe]) VALUES (N'BC', N'Business Class')
INSERT [LOAIVE] ([MaLoaiVe], [TenLoaiVe]) VALUES (N'EC', N'Economy Class')
INSERT [LOAIVE] ([MaLoaiVe], [TenLoaiVe]) VALUES (N'FC', N'First Class')
GO
INSERT [MAYBAY] ([MaMayBay], [MaHang], [LoaiMayBay], [TongSoGhe]) VALUES (N'VJF001', N'VJ', N'Boeing 737 MAX 200', 30)
INSERT [MAYBAY] ([MaMayBay], [MaHang], [LoaiMayBay], [TongSoGhe]) VALUES (N'VNAF001', N'VNA', N'Airbus 320', 20)
GO
INSERT [SANBAY] ([MaSanBay], [TenSanBay], [Tinh]) VALUES (N'DAD', N'San bay Quoc te Da Nang', N'Da Nang')
INSERT [SANBAY] ([MaSanBay], [TenSanBay], [Tinh]) VALUES (N'HAN', N'San bay Quoc te Noi Bai', N'Ha Noi')
INSERT [SANBAY] ([MaSanBay], [TenSanBay], [Tinh]) VALUES (N'SGN', N'San bay Quoc te Tan Son Nhat', N'Ho Chi Minh')
GO
ALTER TABLE [CHUYENBAY]  WITH CHECK ADD FOREIGN KEY([MaMayBay])
REFERENCES [MAYBAY] ([MaMayBay])
GO
ALTER TABLE [CUNGCAPDICHVU]  WITH CHECK ADD FOREIGN KEY([MaChuyenBay])
REFERENCES [CHUYENBAY] ([MaChuyenBay])
GO
ALTER TABLE [CUNGCAPDICHVU]  WITH CHECK ADD FOREIGN KEY([MaDichVu])
REFERENCES [DICHVU] ([MaDichVu])
GO
ALTER TABLE [GIAVE]  WITH CHECK ADD FOREIGN KEY([MaChuyenBay])
REFERENCES [CHUYENBAY] ([MaChuyenBay])
GO
ALTER TABLE [GIAVE]  WITH CHECK ADD FOREIGN KEY([MaLoaiVe])
REFERENCES [LOAIVE] ([MaLoaiVe])
GO
ALTER TABLE [HOADON]  WITH CHECK ADD FOREIGN KEY([MaTKThanhToan])
REFERENCES [TAIKHOANTHANHTOAN] ([MaTKThanhToan])
GO
ALTER TABLE [HOADON]  WITH CHECK ADD FOREIGN KEY([MaVe])
REFERENCES [VE] ([MaVe])
GO
ALTER TABLE [MAYBAY]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [HANGMAYBAY] ([MaHang])
GO
ALTER TABLE [VE]  WITH CHECK ADD FOREIGN KEY([MaChuyenBay])
REFERENCES [CHUYENBAY] ([MaChuyenBay])
GO
ALTER TABLE [VE]  WITH CHECK ADD FOREIGN KEY([MaHK])
REFERENCES [HANHKHACH] ([MaHK])
GO
ALTER TABLE [VE]  WITH CHECK ADD FOREIGN KEY([MaLoaiHoanTien])
REFERENCES [LOAIHOANTIEN] ([MaLoaiHoanTien])
GO
ALTER TABLE [VE]  WITH CHECK ADD FOREIGN KEY([MaLoaiVe])
REFERENCES [LOAIVE] ([MaLoaiVe])
GO
USE [master]
GO
